{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}

{{- if eq .Kind "page" }}
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
  init({
    el: '{{.Site.Params.waline.el}}',
    serverURL: '{{.Site.Params.waline.serverURL}}',
    pageview: "{{.Site.Params.waline.pageview}}",
    dark: "{{.Site.Params.waline.dark}}",
  });
</script>
{{- end }}

{{- /* Footer custom content area end */ -}}
