{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<script data-ad-client="{{.Site.Params.Adsense.client}}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

{{- if eq .Kind "page" }}
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<script src="https://unpkg.com/@waline/client@v2/dist/waline.mjs"></script>
<script src="https://unpkg.com/@waline/client@v2/dist/pageview.mjs"></script>
{{- end }}

{{- /* Head custom content area end */ -}}
